---
const TIMESTAMP_END = 1742871600000
---

<section class="text-white">
  <!-- Aqui se debe agregar la fecha final de la cuenta atras en timestamp  -->
  <!-- puedes utilizar la pagina https://www.epochconverter.com/  -->
  <div class="flex flex-row gap-x-1 uppercase" data-date={TIMESTAMP_END}> 
    <div class="flex flex-col justify-center items-center gap-y-2 w-16">
      <span class="text-4xl tabular-nums" data-days="">00</span>
      <span class="text-xs text-center">Dias</span>
    </div>

    <span aria-hidden="true" class="mt-1 text-xl">:</span>

    <!-- Componetizar para que no se repitan los estilos   -->

    <div class="flex flex-col justify-center items-center gap-y-2 w-16">
      <span class="text-4xl tabular-nums" data-hours="">00</span>
      <span class="text-xs text-center">Horas</span>
    </div>

    <span aria-hidden="true" class="mt-1 text-xl">:</span>

    <div class="flex flex-col justify-center items-center gap-y-2 w-16">
      <span class="text-4xl tabular-nums" data-minutes="">00</span>
      <span class="text-xs text-center">Minutos</span>
    </div>

    <span aria-hidden="true" class="mt-1 text-xl">:</span>

    <div class="flex flex-col justify-center items-center gap-y-2 w-16">
      <span class="text-4xl tabular-nums" data-seconds="">00</span>
      <span class="text-xs text-center">Segundos</span>
    </div>
  </div>
</section>



<script>
  /* Se recuperan los segundos, minutos, horas y dias*/
  const SECOND = 1000
  const MINUTE = SECOND * 60
  const HOUR = MINUTE * 60
  const DAY = HOUR * 24
  /* Se crea una funcion para inicializar el contador */
  function init() {
    const $countdown = document.querySelector('[data-date]')
    if(!$countdown) return

    const $days = $countdown.querySelector('[data-days]')
    const $hours = $countdown.querySelector('[data-hours]')
    const $minutes = $countdown.querySelector('[data-minutes]')
    const $seconds = $countdown.querySelector('[data-seconds]')

    const timestamp = $countdown.getAttribute('data-date')
    if (!timestamp) return

    const date = new Date(+timestamp).getTime()

    const formatTime = (time: number) => {
      return Math.floor(time).toString().padStart(2, "0")
    }

    function updateCountdown(){
      const now = Date.now()
      const diff = date - now

      if ($days instanceof HTMLElement){
        $days.innerText = formatTime(diff / DAY)
      }

      if ($hours instanceof HTMLElement){
        $hours.innerText = formatTime((diff % DAY) / HOUR)
      }

      if ($minutes instanceof HTMLElement){
        $minutes.innerText = formatTime((diff % HOUR) / MINUTE)
      }

      if ($seconds instanceof HTMLElement){
        $seconds.innerText = formatTime((diff % MINUTE) / SECOND)
      }
    }

    setInterval(updateCountdown, SECOND)
    updateCountdown()// Permite que no se vean los ceros al recargar la pagina
  }

  /* Se utiliza la funcion init() */
  init()
</script>